.course {
  background-image: linear-gradient(
    to bottom right,
    $bg-yellow-ligth,
    $bg-yellow-dark
  );
  height: 14rem;
  width: 10.875rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid transparent;
  box-shadow: $shadow;
  transition: all 0.3s ease;
  cursor: pointer;

  &__name {
    @include heading-small;
    font-size: 1.5rem;
    text-align: center;
  }

  &__hour {
    @include text-small;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  &__schedule {
    @include text-small;
    text-align: center;
  }

  &:hover {
    transform: translateY(-0.3rem);
    border: 0.2rem solid $color-black;
  }
}
