.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-image: linear-gradient(
    to bottom,
    $bg-color-quaternary-1,
    $bg-color-quaternary-2
  );

  &__hamburger {
    cursor: pointer;
  }
  &__hamburger > * {
    font-size: 4rem;
  }
}
