.logo {
  display: flex;
  align-items: center;
  &__fig {
    height: 3rem;
  }

  &__img {
    height: 100%;
    border-radius: 100%;
  }

  &__text {
    @include heading-large;
    font-size: 2rem;
    margin-left: 0.5rem;
  }
}

.logo a {
  text-decoration: none;
}
