.social {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  @include responsive(tab) {
    width: 20rem;
  }
  &__link {
    text-decoration: none;
    @include text;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
