.menu-desk {
  display: none;
  @include responsive(phone-m) {
    display: none;
  }
  @include responsive(phone-l) {
    display: none;
  }
  @include responsive(tab) {
    display: flex;
  }

  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    position: relative;
    margin: 0.5rem 0.5rem;
    padding: 0.2rem 0.5rem;

    &--other {
      display: flex;
      align-items: center;
      transition: rotate 0.6s ease;
    }
    &--other:hover img {
      transform: rotate(180deg);
    }
  }
  &__item::after {
    content: '';
    position: absolute;
    height: 0;
    border-radius: 10px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: $bg-color-secondary-1;
    transition: all 0.3s ease;
  }
  &__item:hover::after {
    height: 0.2rem;
    width: 100%;
  }
  &__item img {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 0.1rem;
  }

  &__item a {
    text-decoration: none;
  }
  &__text {
    font-size: 1.5rem;
    color: $text-color-secondary-1;
  }

  &__nestedlist {
    background-image: linear-gradient(
      to bottom,
      $bg-color-quaternary-2,
      $bg-color-quaternary-1
    );
    list-style: none;
    color: inherit;
    position: absolute;
    right: 0;
    transform: translateY(60%);
    width: max-content;
    padding: 0.5rem;
    display: none;
    border-radius: 10px;
    opacity: 0;
  }
  &__nesteditem {
    margin: 0.5rem 0;
    transition: all 0.2s ease;
  }
  &__nesteditem:hover {
    background-color: $bg-color-tertiary-light;
  }
}

.menu-desk__item:hover > .menu-desk__nestedlist {
  display: block;
  opacity: 1;
}
