@mixin responsive($breakpoint) {
  @if $breakpoint == phone-m {
    @media (min-width: 23.4375em) {
      //375px
      @content;
    }
  }
  @if $breakpoint == phone-l {
    @media (min-width: 26.5625em) {
      //425px
      @content;
    }
  }
  @if $breakpoint == tab {
    @media (min-width: 48em) {
      //768px
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (min-width: 64em) {
      //1024px
      @content;
    }
  }
  @if $breakpoint == laptop-l {
    @media (min-width: 90em) {
      //1440px
      @content;
    }
  }
}

//Fonts mixins

@mixin heading-large {
  font-size: $fontsize-heading-primary;
  font-family: $font-heading-primary;
  color: $text-color-black-1;
  font-weight: 700;
}

@mixin heading {
  font-size: $fontsize-heading;
  font-family: $font-headings;
  color: $text-color-black-1;
  font-weight: 600;
}

@mixin heading-small {
  font-size: $fontsize-heading-small;
  font-family: $font-headings;
  color: $text-color-black-1;
  font-weight: 600;
}

@mixin text {
  font-size: $fontsize-text;
  font-family: $font-texts;
  color: $text-color-black-1;
  font-weight: 400;
}

@mixin text-small {
  font-size: $fontsize-small;
  font-family: $font-texts;
  color: $text-color-black-1;
  font-weight: 400;
}

@mixin text-small-gray {
  font-size: $fontsize-small;
  font-family: $font-texts;
  color: $text-color-gray;
  font-weight: 400;
}

@mixin text-smaller {
  font-size: $fontsize-legend;
  font-family: $font-texts;
  color: $text-color-black-1;
  font-weight: 400;
}
