.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  width: 86%;
  padding: 3% 7% 0 7%;
  &__hamburger {
    cursor: pointer;
  }
  &__hamburger > * {
    font-size: 4rem;
  }
}
