/*Fuentes*/

/*Backgroudns*/
$bg-color-primary-1: #ffffff;

$bg-color-secondary-1: #ffbf00;
$bg-color-secondary-2: #f6e27f;
$bg-color-secondary-3: #ffdb27;

$bg-color-tertiary-1: #c5cbd3;
$bg-color-tertiary-2: #cccccc;

$bg-color-tertiary-light: #cccccc5e;

$bg-color-quaternary-1: #232b2b;
$bg-color-quaternary-2: #0e1111;

/*Texto*/
$text-color-primary-1: #000000;
$text-color-primary-2: #232b2b;

$text-color-secondary-1: #ffffff;
