//General colors
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ea4c46;
$color-red-ligth: #f07470;
$color-blue: #4949ff;
$color-blue-ligth: #7879ff;
$color-yellow: #ffdd3c;
$color-yellow-ligth: #ffea61;
$color-green: #57c84d;
$color-green-ligth: #83d475;

/*Backgroudns*/
$bg-yellow-ligther: #fbf6f3;
$bg-yellow-ligth: #f6e27f;
$bg-yellow: #ffdb27;
$bg-yellow-dark: #ffbf00;

$bg-gray-ligth: #d8d8d8;
$bg-gray: #c5cbd3;
$bg-gray-dark: #686b6f;

/*Opacity backgrounds*/
$bg-yellow-ligth-opacity: #f6e27fea;
$bg-gray-ligth-opacity: #d8d8d8b6;

/*Shadows*/
$shadow: 0 0.5rem 0.375rem -0.375rem #686b6f;
$shadow-2: 0.625rem 0.625rem 1.563rem 0rem #686b6f;
$shadow-3: 2px 16px 18px 0px rgba(0, 0, 0, 0.56);

/*Texto*/
$text-color-black-1: #000000;
$text-color-black-2: #232b2b;
$text-color-gray: #686b6f;
$text-color-white: #ffffff;

$font-heading-primary: 'Open Sans', sans-serif;
$font-headings: 'Signika', sans-serif;
$font-texts: 'Nunito Sans', sans-serif;

$fontsize-heading-primary: 3.125rem; //50px
$fontsize-heading: 2.5rem; //40px
$fontsize-heading-small: 1.875rem;

$fontsize-text: 1.125rem; //18px
$fontsize-small: 1rem; //16px
$fontsize-legend: 0.875rem; //14px
